# RAG strategy
STRATEGY=openai
EMBEDDINGS_MODEL=text-embedding-3-small
OPENAI_API_KEY=<your-api-key>


# Build index from scratch
FROM_SCRATCH=false
DATA_PATH=./data/books.csv
COLUMNS_TO_DROP=isbn13,isbn10,thumbnail

# FAISS index location/name
FAISS_INDEX_PATH=./data/faiss_index/
FAISS_INDEX_NAME=books_index

# Chat model
CHAT_MODEL=gpt-3.5-turbo
RETRIEVER_K=5

# RAG FastAPI endpoint
RAG_ENDPOINT=http://127.0.0.1:8000/rag
