# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Settings
.env

# Chainlit
.chainlit/

# Virtual environment
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Vectorstores
*.faiss
*.pkl